<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>

    <h1>blog</h1>

    {% include "blog/_post_list.html" %}

{#    <div id="next-page">#}
{#        ...#}
{#    </div>#}

{% comment %}
<tr hx-get="/contacts/?page=2"
    hx-trigger="revealed"
    hx-swap="afterend">
  <td>Agent Smith</td>
  <td>void29@null.org</td>
  <td>55F49448C0</td>
</tr>
{% endcomment %}
</body>
</html>