<div class="list-group">

    {% for tag in tag_list %}
        <div class="list-group-item"
             style="cursor: pointer;"
             hx-trigger="click"
             hx-confirm="태그 '{{ tag.name }}'를 정말 삭제하시겠습니까?"
             hx-post="{% url 'blog:tag_delete' tag.pk %}"
             hx-swap="delete"
        >
            {{ tag.name }}
        </div>
    {% endfor %}

</div>

{% if page_obj.has_next %}
    <div hx-get="?page={{ page_obj.next_page_number }}"
         hx-vals="js:{_:new Date().getTime()}"
         hx-trigger="revealed"
         {# hx-target="this" #}
         hx-swap="outerHTML">
        Loading ...
    </div>
{% endif %}
