<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post detail</title>
    <script src="//unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>

    {{ post.content }}

    {# HTML로서 댓글 직접 렌더링 #}
{#    {{ post.comment_set.all }}#}
{#    {{ comment_list }}#}

    <hr />

    <a hx-get="{% url 'diary:comment-new' post.pk %}"
       hx-target="#comment-form"
    >댓글 쓰기</a>

    <div id="comment-form"></div>

    <div hx-get="{% url 'diary:api-v1:comment-list' post.pk %}?format=json"
         hx-trigger="load">
        Loading comments ...
    </div>

    <div id="comment-list">Now Loading</div>
    <script>
        async function loadCommentList() {
          const res = await fetch("{% url 'diary:api-v1:comment-list' post.pk %}?format=json");;
          const jsonString = await res.text();  // 페이지 소스보기 했을 때의 응답 내용
          const commentList = JSON.parse(jsonString); // 객체화 (Deserialize)
          console.log(commentList);

          // 별도의 JS 기반의 템플릿 엔진을 쓰는 것이 좋다. or UI 라이브러리 (리액트)
          const _html = commentList.map(function(comment) {
            return `<div>${comment.message} at ${comment.created_at}</div>`;
          }).join("");
          document.querySelector("#comment-list").innerHTML = _html;
        }
        loadCommentList();
    </script>

    {# 웹 : JS를 통해 댓글 렌더링 : => fetch => HTML (HTMX), JSON #}
    {% comment %}
    <script>
        async function loadCommentList() {
          const res = await fetch("/diary/1/comments/");;
          const html = await res.text();  // 페이지 소스보기 했을 때의 응답 내용
          document.querySelector("#comment-list").innerHTML = html;
        }
        loadCommentList();
    </script>
    {% endcomment %}

    {# 앱 (android/ios) : 네이티브 UI를 통한 렌더링 => JSON #}

</body>
</html>