<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post detail</title>
    <script src="//unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>

    {{ post.content }}

    {# HTML로서 댓글 직접 렌더링 #}
{#    {{ post.comment_set.all }}#}
{#    {{ comment_list }}#}

    <div hx-get="/diary/1/comments/"
         hx-trigger="load">
        Loading comments ...
    </div>

    {# 웹 : JS를 통해 댓글 렌더링 : => fetch => HTML (HTMX), JSON #}
    {% comment %}
    <script>
        async function loadCommentList() {
          const res = await fetch("/diary/1/comments/");;
          const html = await res.text();  // 페이지 소스보기 했을 때의 응답 내용
          document.querySelector("#comment-list").innerHTML = html;
        }
        loadCommentList();
    </script>
    {% endcomment %}

    {# 앱 (android/ios) : 네이티브 UI를 통한 렌더링 => JSON #}

</body>
</html>