django-extensions
djangorestframework

faker
tqdm

pandas
openpyxl
wordcloud

django-cors-headers

django-environ

django-debug-toolbar

django-bootstrap5

# https://django-htmx.readthedocs.io/en/latest/installation.html
django-htmx

pytest
pytest-django
pytest-testdox
